button {
  border: none;
  padding: 12px;
  width: 100px;
  margin-left: 10px;
  background: #00b894;
  opacity: 0.9;
  border-radius: 20px;
  font-size: 1em;
  color: whitesmoke;
  transition: .3s ease;
  outline: none;
}
button:hover {
  opacity: 1;
}