* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
body {
  background: #636e72;
  overflow: hidden;
  z-index: 10;
}
.title {
  text-align: center;
  font-size: 3em;
  color: #00b894;
  font-family: 'Amatic SC', cursive;
}
.message-box {
  border: 1px solid none;
  height: 70vh;
  width: 70%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
  overflow: scroll;
  background: #bdc3c7;
  scroll-behavior: smooth;
  background: white;
  position: relative;
}

::-webkit-scrollbar { 
  display: none; 
}