.receive {
  display: inline-block;
  max-width: 30%;
  padding: 0.86rem;
  margin-bottom: 15px;
  border-radius: 10px;
  background: #ecf0f1;
  font-family: 'Varela Round', sans-serif;
  font-size: 0.8em;
  background: #eeeeee;
  color: black;
  word-break: break-all;
  box-shadow: 4px 4px 12 #f4f4f4;
}
.message-send {
  text-align: right;
}
.message-receive {
  text-align: left;
}
.send {
  display: inline-block;
  max-width: 30%;
  font-size: 0.86em;
  margin-bottom: 15px;
  padding: 0.6rem;
  border-radius: 10px;
  background: #26de81;
  color: white;
  font-family: 'Varela Round', sans-serif;
  word-break: break-all;
  box-shadow: 4px 4px 12 #f4f4f4;
}
